parameters:
    level: max

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    fileExtensions:
        - php

    paths:
        - %currentWorkingDirectory%/src
